body {
  background-color: #B7B7B7;
  font-family: 'Lora', serif;
}
#projects .two-column {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 0px;
}
#about .two-column {
	background-color: #84bf92;
}
#container {
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
}
header {
  background-color: #333232;
  padding: 0px;
}
header h2 {
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: yellow;
}
footer {
  background-color: #9ABCA7;
  padding: 40px;
}
footer p {
  margin: 0;
}
.city-picture {
  width: 500px;
}
.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: #F7B2AD;
}
.two-column div {
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #CEB7B3;
}
.three-column div {
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
