body {
	background-color: #e1ebe1;
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	}
#contacts {
	background-color: #6b6767;
}	

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", serif;
	font-weight: 700;
	font-style: normal;
}
.city-image {
	width: 600px;
}
.container {
	width: 1100px;
	margin: 0 auto;
	background-color: #c1d4c1
}
#home .container {
	background-color: pink;
}
.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: #F7E12B;
}
.two-column div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}
#projects .two-column {
	background-color: green;
}
.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #D8F793;
}

.three-column div {
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
}
#about .three-column {
	background-color: blue;
	padding: 20px;
}
#contacts .three-column div {
	background-color: #f3faf2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #b53340;
}